// fonts variables
$PtSerif: PtSerif, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$DecimaNovaPro: DecimaNovaPro, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$DecimaNovaProBold: DecimaNovaProBold, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$DecimaNovaProLight: DecimaNovaProLight, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

$base-font-family: $DecimaNovaProLight;
$base-font-size: 14px;
$primary-color-black: #000000;
$primary-color-white: #ffffff;
$primary-bg-color: #00172b;