body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $primary-color-white;
	display: flex;
	flex-direction: column;
	background-color: $primary-bg-color;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.main-header,
.main-footer {
	flex-shrink: 0;
}

.main-header {
	display: flex;
	position: relative;
	height: 70px;
	border-bottom: 1px solid rgba(#003562, .3);

	&:before {
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		height: 4px;
		width: 100%;
		background-color: #00abff;
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__logo,
	&__nav {
		align-self: center;
	}

	&__nav-list {
		display: flex;
	}
}

.main-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}